{
  "permissions": {
    "allow": [
      "Bash(chmod:*)",
      "Bash(brew install:*)",
      "Bash(ssh:*)",
      "Bash(scp:*)",
      "Bash(xargs ls:*)",
      "Bash(aws --profile ${AWS_PROFILE} sts get-caller-identity)",
      "Bash(~/.claude/statusline.sh)"
    ]
  }
}
